[*]
indent_style = space
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true
# (Please don't specify an indent_size here; that has too many unintended consequences.)

# Code files
[*.{cs,csx,vb,vbx}]
indent_size = 4
tab_width = 4

# XML project files
[*.{csproj,vbproj,vcxproj,vcxproj.filters,proj,projitems,shproj}]
indent_size = 4

# XML configuration files
[*.{props,targets,ruleset,config,nuspec,resx,vsixmanifest,vsct}]
indent_size = 2

# JSON files
[*.{xml,pubxml,html,yaml,md,json}]
indent_size = 2

[*.{cs,vb}]
######################################################################
#### CODE STYLE RULES ################################################
######################################################################

#### LANGUAGE RULES
#---------------------------------------------------------------------

### .NET style settings
#---------------------------------------------------------------------

## A"This." and "Me." qualifiers
dotnet_style_qualification_for_field = false:error
dotnet_style_qualification_for_property = false:error
dotnet_style_qualification_for_method = false:error
dotnet_style_qualification_for_event = false:error

## Use language keywords instead of framework type names for type references
dotnet_style_predefined_type_for_locals_parameters_members = true:error
dotnet_style_predefined_type_for_member_access = true:error

## Modifier preferences
dotnet_style_require_accessibility_modifiers = for_non_interface_members:error
csharp_preferred_modifier_order = public,private,protected,internal,static,extern,new,virtual,abstract,override,sealed,readonly,unsafe,volatile,async:error
dotnet_style_readonly_field = true:error

## Parentheses preferences
dotnet_style_parentheses_in_arithmetic_binary_operators = always_for_clarity:error
dotnet_style_parentheses_in_relational_binary_operators = always_for_clarity:error
dotnet_style_parentheses_in_other_binary_operators = always_for_clarity:error
dotnet_style_parentheses_in_other_operators = never_if_unnecessary:error

## Expression-level preferences
dotnet_style_object_initializer = true:error
dotnet_style_collection_initializer = true:error
dotnet_style_explicit_tuple_names = true:error
dotnet_style_prefer_inferred_tuple_names = true:error
dotnet_style_prefer_inferred_anonymous_type_member_names = true:error
dotnet_style_prefer_auto_properties = true:error
dotnet_style_prefer_conditional_expression_over_assignment = true:error
dotnet_style_prefer_conditional_expression_over_return = true:silent
dotnet_style_prefer_compound_assignment = true:error
dotnet_style_prefer_simplified_interpolation = true:error
dotnet_style_prefer_simplified_boolean_expressions = true:error
# IDE0010 Add missing cases to switch statement
dotnet_diagnostic.IDE0010.severity = none
# IDE0050 Convert anonymous type to tuple
dotnet_diagnostic.IDE0050.severity = none
# IDE0070 Use 'System.HashCode.Combine'
dotnet_diagnostic.IDE0070.severity = error
# IDE0082 Convert typeof to nameof
dotnet_diagnostic.IDE0082.severity = error

## "Null" checking preferences
dotnet_style_coalesce_expression = true:error
dotnet_style_null_propagation = true:error
dotnet_style_prefer_is_null_check_over_reference_equality_method = true:error

## File header preferences
file_header_template = unset


### CSharp style settings:
#---------------------------------------------------------------------

## Implicit and explicit types
csharp_style_var_for_built_in_types = false:error
csharp_style_var_when_type_is_apparent = true:error
csharp_style_var_elsewhere = true:error

## Expression-bodied members
csharp_style_expression_bodied_methods = when_on_single_line:warning
csharp_style_expression_bodied_constructors = false:error
csharp_style_expression_bodied_operators = when_on_single_line:error
csharp_style_expression_bodied_properties = when_on_single_line:error
csharp_style_expression_bodied_indexers = when_on_single_line:error
csharp_style_expression_bodied_accessors = when_on_single_line:error
csharp_style_expression_bodied_lambdas = when_on_single_line:error
csharp_style_expression_bodied_local_functions = when_on_single_line:error

## Pattern matching
csharp_style_pattern_matching_over_is_with_cast_check = true:error
csharp_style_pattern_matching_over_as_with_null_check = true:error
csharp_style_prefer_switch_expression = true:error
csharp_style_prefer_pattern_matching = false:error
csharp_style_prefer_not_pattern = false:error

## Expression-level preferences
csharp_style_inlined_variable_declaration = true:error
csharp_prefer_simple_default_expression = true:error
csharp_style_pattern_local_over_anonymous_function = true:error
csharp_style_deconstructed_variable_declaration = true:error
csharp_style_prefer_index_operator = true:error
csharp_style_prefer_range_operator = true:error
csharp_style_implicit_object_creation_when_type_is_apparent = true:suggestion
# IDE0072 Add missing cases to switch expression
dotnet_diagnostic.IDE0072.severity = none

## "Null" checking preferences
csharp_style_throw_expression = true:error
csharp_style_conditional_delegate_call = true:error

## Code block preferences
csharp_prefer_braces = false:error
csharp_prefer_simple_using_statement = true:error

## 'using' directive preferences
csharp_using_directive_placement = outside_namespace:error

## Modifier preferences
csharp_prefer_static_local_function = true:error
#IDE0064 Make struct fields writable
dotnet_diagnostic.IDE0064.severity = error

#### UNNECESSARY CODE RULES
#---------------------------------------------------------------------

# IDE0001 Simplify name
dotnet_diagnostic.IDE0001.severity = error
# IDE0002 Simplify member access
dotnet_diagnostic.IDE0002.severity = error
# IDE0004 Remove unnecessary cast
dotnet_diagnostic.IDE0004.severity = error
# IDE0035 Remove unreachable code
dotnet_diagnostic.IDE0035.severity = error
# IDE0051 Remove unused private member
dotnet_diagnostic.IDE0051.severity = error
# IDE0052 Remove unread private member
dotnet_diagnostic.IDE0052.severity = suggestion
# IDE0080 Remove unnecessary suppression operator
dotnet_diagnostic.IDE0080.severity = error
# IDE0100 Remove unnecessary equality operator
dotnet_diagnostic.IDE0100.severity = error
# IDE0110 Remove unnecessary discard
dotnet_diagnostic.IDE0110.severity = error
# IDE0280 Use 'nameof'
dotnet_diagnostic.IDE0280.severity = error
csharp_style_unused_value_expression_statement_preference = discard_variable:silent
csharp_style_unused_value_assignment_preference = discard_variable:error
dotnet_remove_unnecessary_suppression_exclusions = none:error
dotnet_code_quality_unused_parameters = non_public:suggestion
csharp_style_namespace_declarations = file_scoped:error


#### MISCELLANEOUS RULES
#---------------------------------------------------------------------

# IDE0076 Remove invalid global 'SuppressMessageAttribute'
dotnet_diagnostic.IDE0076.severity = error
# IDE0077 Avoid legacy format target in global 'SuppressMessageAttribute'
dotnet_diagnostic.IDE0077.severity = error


#### FORMATTING RULES
#---------------------------------------------------------------------

dotnet_diagnostic.IDE0055.severity = error

### .NET formatting rules
#---------------------------------------------------------------------

dotnet_sort_system_directives_first = false
dotnet_separate_import_directive_groups = false


### C# formatting rules
#---------------------------------------------------------------------

## Newline options
csharp_new_line_before_open_brace = all
csharp_new_line_before_else = true
csharp_new_line_before_catch = true
csharp_new_line_before_finally = true
csharp_new_line_before_members_in_object_initializers = true
csharp_new_line_before_members_in_anonymous_types = true
csharp_new_line_between_query_expression_clauses = true

## Indentation options
csharp_indent_case_contents = true:error
csharp_indent_switch_labels = true:error
csharp_indent_labels = flush_left:error
csharp_indent_block_contents = true:error
csharp_indent_braces = false:error
csharp_indent_case_contents_when_block = false:error

## Spacing options
csharp_space_after_cast = false
csharp_space_after_keywords_in_control_flow_statements = true
csharp_space_between_parentheses = false
csharp_space_before_colon_in_inheritance_clause = true
csharp_space_after_colon_in_inheritance_clause = true
csharp_space_around_binary_operators = before_and_after
csharp_space_between_method_declaration_parameter_list_parentheses = false
csharp_space_between_method_declaration_empty_parameter_list_parentheses = false
csharp_space_between_method_declaration_name_and_open_parenthesis = false
csharp_space_between_method_call_parameter_list_parentheses = false
csharp_space_between_method_call_empty_parameter_list_parentheses = false
csharp_space_between_method_call_name_and_opening_parenthesis = false
csharp_space_after_comma = true
csharp_space_before_comma = false
csharp_space_after_dot = false
csharp_space_before_dot = false
csharp_space_after_semicolon_in_for_statement = true
csharp_space_before_semicolon_in_for_statement = false
csharp_space_around_declaration_statements = false
csharp_space_before_open_square_brackets = false
csharp_space_between_empty_square_brackets = false
csharp_space_between_square_brackets = false

## Wrap options
csharp_preserve_single_line_statements = true:error
csharp_preserve_single_line_blocks = true:error


######################################################################
#### CODE QUALITY RULES ##############################################
######################################################################

#### DESIGN RULES
#---------------------------------------------------------------------
dotnet_diagnostic.CA1014.severity = none
dotnet_diagnostic.CA1031.severity = none
dotnet_diagnostic.CA1002.severity = none

#### DOCUMENTATION RULES
#---------------------------------------------------------------------

#### GLOBALIZATION RULES
#---------------------------------------------------------------------
dotnet_diagnostic.CA1304.severity = suggestion
dotnet_diagnostic.CA1305.severity = suggestion
dotnet_diagnostic.CA1307.severity = suggestion
dotnet_diagnostic.CA1310.severity = suggestion

#### PORTABILITY AND INTEROPERABILITY RULES
#---------------------------------------------------------------------

#### MAINTAINABILITY RULES
#---------------------------------------------------------------------

#### NAMING RULES
#---------------------------------------------------------------------
dotnet_diagnostic.CA1707.severity = none

#### PERFORMANCE RULES
#---------------------------------------------------------------------

#### PUBLISH RULES
#---------------------------------------------------------------------

#### RELIABILITY RULES
#---------------------------------------------------------------------
dotnet_diagnostic.CA2007.severity = none

#### SECURITY RULES
#---------------------------------------------------------------------
dotnet_diagnostic.CA5394.severity = none

#### USAGE RULES
#---------------------------------------------------------------------
dotnet_diagnostic.CA2227.severity = none
dotnet_diagnostic.CA1848.severity=suggestion

# IDE0022: Use expression body for methods
dotnet_diagnostic.IDE0022.severity = warning
dotnet_diagnostic.CA1062.severity=suggestion
dotnet_diagnostic.CA1710.severity=suggestion
dotnet_diagnostic.CA1819.severity=suggestion
dotnet_diagnostic.CA1849.severity=suggestion
dotnet_diagnostic.CA1308.severity=suggestion
dotnet_style_operator_placement_when_wrapping = beginning_of_line
tab_width = 4

[*.{cs,vb}]
#### Naming styles ####

# Naming rules

dotnet_naming_rule.interface_should_be_begins_with_i.severity = error
dotnet_naming_rule.interface_should_be_begins_with_i.symbols = interface
dotnet_naming_rule.interface_should_be_begins_with_i.style = begins_with_i

dotnet_naming_rule.types_should_be_pascal_case.severity = error
dotnet_naming_rule.types_should_be_pascal_case.symbols = types
dotnet_naming_rule.types_should_be_pascal_case.style = pascal_case

dotnet_naming_rule.non_field_members_should_be_pascal_case.severity = error
dotnet_naming_rule.non_field_members_should_be_pascal_case.symbols = non_field_members
dotnet_naming_rule.non_field_members_should_be_pascal_case.style = pascal_case

dotnet_naming_rule.constant_fields_should_be_pascal_case.severity = error
dotnet_naming_rule.constant_fields_should_be_pascal_case.symbols  = constant_fields
dotnet_naming_rule.constant_fields_should_be_pascal_case.style = pascal_case


# Symbol specifications

dotnet_naming_symbols.interface.applicable_kinds = interface
dotnet_naming_symbols.interface.applicable_accessibilities = public, internal, private, protected, protected_internal, private_protected
dotnet_naming_symbols.interface.required_modifiers =

dotnet_naming_symbols.types.applicable_kinds = class, struct, interface, enum
dotnet_naming_symbols.types.applicable_accessibilities = public, internal, private, protected, protected_internal, private_protected
dotnet_naming_symbols.types.required_modifiers =

dotnet_naming_symbols.non_field_members.applicable_kinds = property, event, method
dotnet_naming_symbols.non_field_members.applicable_accessibilities = public, internal, private, protected, protected_internal, private_protected
dotnet_naming_symbols.non_field_members.required_modifiers =

dotnet_naming_symbols.constant_fields.applicable_kinds   = field
dotnet_naming_symbols.constant_fields.required_modifiers = const

# Naming styles

dotnet_naming_style.begins_with_i.required_prefix = I
dotnet_naming_style.begins_with_i.required_suffix =
dotnet_naming_style.begins_with_i.word_separator =
dotnet_naming_style.begins_with_i.capitalization = pascal_case

dotnet_naming_style.pascal_case.required_prefix =
dotnet_naming_style.pascal_case.required_suffix =
dotnet_naming_style.pascal_case.word_separator =
dotnet_naming_style.pascal_case.capitalization = pascal_case

dotnet_diagnostic.CA1062.severity = warning

dotnet_diagnostic.CA1303.severity = none
dotnet_diagnostic.CA1304.severity = suggestion
dotnet_diagnostic.CA1305.severity = suggestion
dotnet_diagnostic.CA1307.severity = suggestion

dotnet_diagnostic.CA1508.severity = none

dotnet_diagnostic.CA1848.severity = none

dotnet_diagnostic.CA2213.severity = warning

# CS1591: Missing XML comment for publicly visible type or member
dotnet_diagnostic.CS1591.severity = none


csharp_style_prefer_method_group_conversion = true:error
csharp_style_prefer_top_level_statements = true:silent
csharp_style_prefer_primary_constructors = true:suggestion
dotnet_style_prefer_collection_expression = true:error
csharp_style_prefer_primary_constructors = false:error
end_of_line = lf
